.teachers-tab {
    /* display: grid;
    grid-template-columns: 1fr 350px;
    gap: 3rem;
    align-items: start; */
}

.teachers-form{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: rgba(255, 255, 255, 0.1) solid 1px;
    border-radius: 20px;
    padding: 2.5rem;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group input, .input-group select, .input-group textarea {
    background: rgba(255, 255, 255, 0.05);
    border: rgba(255, 255, 255, 0.1) solid 1px;
    border-radius: 10px;
    padding: 12px 16px;
    font-family: 'Cairo', sans-serif;
    transition: all 0.3s ease;
}

.form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.upload-zone{
    background: rgba(255, 255, 255, 0.05);
  border: rgba(255, 255, 255, 0.1) dashed 2px;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn{
    padding: 12px 20px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 50px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem
}

.submit-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgba(102, 126, 234, 0.5);
}