
.main-color{
  background-color: #16161b;
}
.main-text{
  color: #ffffff;
}



div.benifit{
 background: #fff;
    transition: transform 0.6s ease;
  transition: background-color 0.2s ease;
}

.custom-translate-up:hover {
  transform: translateY(-3px);
 
}
.card-top-line{
  position: absolute;
  top: 0;
  left: 0;
height: 4px;
width: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}
.year{
background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}
