
.sec-color{
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); 
}


.lovely-color{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.my-color{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.my-color:hover { 
  transform: translateY(-5px); 
} 
.card-top-line{
  position: absolute;
  top: 0;
  left: 0;
height: 4px;
width: 100%;
z-index: 444;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}


div.benifit { 
  background: #fff; 
  transition: transform 0.6s ease, background-color 0.2s ease; 
} 

.custom-translate-up:hover { 
  transform: translateY(-3px); 
} 



